<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810648563142-borg0f7lujmu8jr0ate4mmg5jo5mu7gd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810648563142-borg0f7lujmu8jr0ate4mmg5jo5mu7gd</string>
	<key>API_KEY</key>
	<string>AIzaSyAweScmnClYfT2VDqmEE6sKUGaSR5sYdP8</string>
	<key>GCM_SENDER_ID</key>
	<string>810648563142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kurumoStateful.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kurumostateful</string>
	<key>STORAGE_BUCKET</key>
	<string>kurumostateful.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810648563142:ios:25a87c85b7a08195bc16c7</string>
</dict>
</plist>